@{
    ViewData["Title"] = "Home Page";
}
<style>
    .hero {
    width: 100%;
    height: 100vh;          /* full screen height */
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* fill screen, keep aspect ratio */
}
</style>

<div class="hero">
    <img src="~/Images/quiz.jpg" alt="" class="w-100"/>
</div>
